-# inside main content div here
#carousel
  %ul
    - @features.slice(0,5).each do |feature|     # Newest five features
      %li
        %a{href: url_for(:controller => 'engineers_onstage', :action => 'show', :id => feature.slug)}
          %img{:alt => "", :src => feature.leader_picture_url, :width => 660, :height => 440}
          %p
            = feature.content_date.strftime("%B %d, %Y")
            &mdash;
            = feature.overview

:javascript
  $(function() {
    $('#carousel').infiniteCarousel({
      displayThumbnails: false,
      displayTime: 10000,
      textholderHeight: 0.15
    });
  });

