-# inside main content div here
#carousel
  %ul
    %li
      %img{:alt => "", :src => "p1.jpg", :width => 500, :height => 213}
      %p This carousel has no padding applied to it so you won't see hints for the previous and next images. Also, the progress bar could be disabled by setting just one option on the plugin.
    %li
      %img{:alt => "", :src => "p2.jpg", :width => 500, :height => 213}
      %p This is the caption for the second image. The height of the caption box is an option.
    %li
      %img{:alt => "", :src => "p3.jpg", :width => 500, :height => 213}
    %li
      %img{:alt => "", :src => "p4.jpg", :width => 500, :height => 213}
      %p It's not easy being green.

:javascript
  $(function() {
    $('#carousel').infiniteCarousel();
  });

