-# inside main content div here
#carousel_wrapper
  #carousel
    %ul
      - @features.slice(0,5).each do |feature|     # Newest five features
        %li
          %img{:alt => "", :src => "assets/firebase.jpg", :width => 660, :height => 440}
          %p Watch as the newest additions to the team arrive...

      %li
        %img{:alt => "", :src => "assets/firebase.jpg", :width => 660, :height => 440}
        %p Watch as the newest additions to the team arrive...
      
:javascript
  $(function() {
    $('#carousel').infiniteCarousel({
      displayThumbnails: false,
      displayTime: 15000,
      textholderHeight: 0.15
    });
  });

