-# inside main content div here
#carousel_wrapper
  #carousel
    %ul
      %li
        %img{:alt => "", :src => "assets/firebase.jpg", :width => 500, :height => 213}
        %p The Firebase team
      %li
        %img{:alt => "", :src => "p2.jpg", :width => 500, :height => 213}
      %li
        %img{:alt => "", :src => "p3.jpg", :width => 500, :height => 213}
      %li
        %img{:alt => "", :src => "p4.jpg", :width => 500, :height => 213}

:javascript
  $(function() {
    $('#carousel').infiniteCarousel({
      displayThumbnails: false
    
    });
  });

