.container
  %h1 Mission
  %p
    First, we aim to
    %strong entertain.
    We believe 
  %p Enlighten. Engineering is a great profession
  %p Inspire

  %h1 R&amp;D
  %p
    rnd.io is produced by 
    %a{href: 'https://github.com/ravisathyam'}Ravi Sathyam
    and
    %a{href: 'http://davidralbrecht.com/'}David Albrecht.
    Ravi and David met while pursuing degrees in Electrical and Computer Engineering at the University of Illinois Urbana-Champaign. Both worked at Microsoft in Seattle before eventually relocating to the Bay Area. Ravi works as a senior software engineer in network traffic optimization at
    %a{href: 'http://www.riverbed.com/us/'}Riverbed Technologies;
    David is the one and only developer at 
    %a{href: 'http://wishery.com/'}Wishery, 
    a small software company focused on bringing business data into email. 
  %p Both have written quite a lot of code.

