%h1 celebrating innovation in science and technology
%p For 100 years, the San Francisco Bay Area has been a mecca of innovation and progress. By solving the most difficult problems in physics, computer science, and electronics technology, engineers have changed the world. 
%p Too often, these stories of innovation go untold. Over the coming months, we'll be collecting stories&mdash;our profession's lore&mdash;and posting them here, for all to see and hear. Through optimism and depth of understanding, we hope to elevate the dialog above the pessimistic, sound-byte-driven character of today's tech journalism. 
%p If you give us your email address, we'll let you know when we start. We'll never sell your address, and you can unsubscribe with a single click. 

%form{action:'/list_memberships', method:'post'}
  %input{id:'email_address', type:'text', name:'email'}
  %input{type: 'submit', value:'Sign Up!'}
