All content, including graphics, articles, collateral, and audio is Copyright &copy; 2012 rnd.io and may be reproduced subject to the
%a{href: 'http://creativecommons.org/licenses/by/3.0/'}Creative Commons Attribution 3.0 Unported License.
All other rights reserved. 
