/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

body {
  font-family: Helvetica;
}


/* Holds masthead and main page content. */
.container {
  width: 960px;
  margin: auto;
  background: #44b2ba;
}

.masthead {
  background: white;
  overflow: auto;
  color: #44b2ba;
  position: relative;
}

.masthead p {
  margin: 0;
}

.masthead ul {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
  font-weight: bold;
}

.masthead li {
  display: inline;
  margin: 0;
  padding-left: 0.5em;
  padding-right: 0;
  padding-bottom: 0;
  padding-top: 0;
}

.content {
  padding-right: 2em;
  padding-left: 2em;
}



